/*Section 1*/
.main-page{
    display :flex;
    flex-direction: column;
    align-items: center;
    margin: 80px;
}

.title,
.sec5-title,
.title-sec2,
.title-sec3{
    font-size: 45px;
    font-weight: 900;
}

.main-vd{
    width: 900px;
}

@media screen and (max-width: 950px){
    
    .main-vd{
        width: 100%;
    }

}
.title span{
    color: rgb(97, 31, 105);
    cursor: auto;
}

.main-button{
    background-color: rgb(97, 31, 105);
    font-weight: bold;
    font-size: 15px;
    color: white;
    padding: 18px 35px;
    border-radius: 4px;
    text-transform: uppercase;
    margin-top: -20px;
}

@media screen and (max-width: 1020px){
    .main-button{
        width: 100%;
        margin: 0;
    }

    .main-page{
        margin: 60px 20px;
    }

    .title{
        font-size: 30px;
        text-align: center;
    }
    
}

.main-para{
    font-weight: bolder;
}

.main-para span{
    font-weight: 400;
}

.main-icons-container{
    display: flex;
    gap: 45px;
    margin-top: 20px;
}

.main-vd{
    margin-top: 30px;
    border-radius: 10px;
}


/*section 2*/
.section-2{
    background-color:  rgb(244, 237, 228);
    padding-bottom: 50px;
    margin-top: -80px;
    padding-top: 80px;
}

.main-page2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 100px;
    
}

.title-grid-container{
    display: flex;
    flex-direction: column;
    width: 470px;
    margin-left: 110px;
}

.title-body{
    font-size: 20px;
    font-weight: 500;
    margin-top: -20px;

}

.title-link{
    font-weight: bold;
    color: rgb(18, 100, 163)
}

.title-link:hover{
    text-decoration: underline;
    cursor: pointer;
    transition: 0.3s;
}

.main-vd-2,
.main-vd-3,
.main-vd-4,
.page3-vd{
    width: 650px;
}

@media screen and (max-width: 1080px){
    .main-vd-2,
    .main-vd-4,
    .page3-vd{
        border-top-right-radius: 20%;
        border-bottom-right-radius: 20%;
        width: 80%;
    }
    .main-vd-3{
        border-top-left-radius: 0%;
        border-top-right-radius: 0%;
        width: 80%;
        margin-left: 95px;
    }
    .main-page2{
        display: grid;
        grid-template-columns: 1fr;
        row-gap: 60px;
    }
    .title-grid-container{
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-left: 10px;
    }
    .title-sec2{
        font-size: 30px;
        margin-top: -30px;
    }
    .title-body{
        font-size: 18px;
        margin-top: -15px;
        width: 90%;
        line-height: 22px;
        
    }
    .title-link{
        margin-top: -2px;
    }
    .main-icons-container{
        flex-wrap: wrap;
        gap: 10px;
        align-items: center;
        justify-content: center;
    }

}


/*section 3 */
.main-page3{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#title-page3{
    margin-top: 40px;
}

#title-body-page3{
    font-size: 17px;
}
.page3-sec3{
    margin-top: 20px;
}

.page3-sec4{
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin: 25px 0px 40px;

}

.percentage{
    font-size: 60px;
    font-weight: bolder ;
    color: rgb(97, 31, 105);
}

.sec4-container{
    display: flex;
    flex-direction: column;
    width: 180px;
}

.percentage-inner{
    font-size: 13px;
    margin: -50px 0px 0px 30px;
}

.page3-sec5{
    display: flex;
    width: 100%;
    gap: 50px;
}

.page3-vd{
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
}

.page3-sec5-container{
    display: grid;
    grid-template-columns: 640px;
    margin-top: -30px;
    
}

.title-italic{
    font-size: 28px;
    font-style: italic;
    font-weight: 100;
    font-family: Slack-Larsseit, "Helvetica Neue", Helvetica, "Segoe UI", Tahoma, Arial, sans-serif;
    line-height: 40px;
}

.title-bold{
    font-weight: bold;
    margin-top: -30px;
}

.title-inner{
    margin: -40px 0px -80px 0px;
}

.info-page3{
    font-size: 14px;
    color: rgb(105, 105, 105);
    margin: 90px 0px 20px;
}
@media screen and (max-width: 1020px){
    .title-italic{
        font-size: 20px;
        line-height: 28px;
        width: 100%;
        font-weight: 0;
        margin: 30px 20px;
    }
    .title-bold{
        margin-top: 0px;
        margin: 0px 20px;
    }
    .title-inner{
        margin: 5px 20px;
    }
    .title-sec3{
        font-size: 30px;
        text-align: center;
    }
    #title-link-sec3{
        margin: 10px 20px;
    }
    .info-page3{
        text-align: center;
        margin-top: 30px;
    }
    #title-body-page3{
        text-align: center;
    }
    .page3-sec3{
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 90%;
        margin-top: -2px;
    }
    .page3-sec4{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #sec4-res{
        margin-top: -50px;
    }
    .sec4-container{
        margin-top: -10px;
    }
    .page3-sec5{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .page3-sec5-container{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
}
/*Section 4*/
.section-4{
    background-color: rgb(244, 237, 228);
}

.main-page4{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title-sec4{
    margin: 30px 0 15px;
}
.header-sec4{
    font-size: 30px;
    font-weight: 900;
}

.sec4-container{
    display: flex;
    align-items: center;
}

.sec4-container-main{
    display: grid;
    grid-template-columns: 285px 285px 285px 285px;
    margin-bottom: 60px;
    column-gap: 30px;
}

.sec4-container-inner{
    padding: 12px;
    background-color: white;
}

.info-page4{
    margin-top: 15px;
}

.title-sec4-inner{
    font-size: 23px;
    font-weight: 900;
    margin: -10px 0 100px;
}

#special-margin{
    margin-bottom: 74px;
}

@media screen and (max-width: 1020px){
    .title-sec4{
        text-align: center;
    }
    .header-sec4{
        font-size: 25px;
    }
    .sec4-container{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }
    .sec4-container-main{
        display: grid;
        grid-template-columns: 20%;
    }
    .sec4-container-inner{
        background-color: transparent;
    }
    .sec4-img{
        border: 1px solid lightgray;
        border-radius: 30%;
    }
    .info-page3,
    .info-page4,
    .title-sec4-inner{
        display: none;
    }
    #link-sec4{
        font-size: 16px;
        text-wrap: nowrap;
        margin: 5px 0px 5px 50px;
    }

}

/* Section 5 */
.sec5-container1{
    background-color: rgb(74, 21, 75);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom-right-radius: 40% ;
    border-bottom-left-radius: 40% ;
    height: 350px;
}

.sec5-title{
    color: white;
}

.sec5-container-main{
    margin-top: 50px;
}

.sec5-btn1{

    background-color: white;
    color: rgb(74, 21, 75);
    border: 0;
    padding: 20px 35px;
    font-size: 17px;
    font-weight: bold;
    border-radius: 6px;
    margin: -10px 10px 0px;
}

.sec5-btn2{

    background-color: transparent;
    border: 1px solid white;
    color: white;
    padding: 19px 34px;
    margin: -10px 10px 0px;
    font-size: 17px;
    font-weight: bold;
    border-radius: 6px;
}

.sec5-btn1:hover{
    border: 3px solid rgb(116, 34, 117);
}

.sec5-btn2:hover{
    border: 2px solid white;
}



.footer-sec5{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 80px;
}

.footer-container{
    display: flex;
    max-width: 200px;
    margin-left: 800px;
}

.footer-para{
    font-weight: bold;
    font-size: 15px;
}

.footer-para:hover{
    color: rgb(18, 100, 163);
    cursor: pointer;

}
.svg-icon{
    height: 23px;
}

.svg-icon:hover{
    fill: rgb(18, 100, 163);
    cursor: pointer;
}

@media screen and (max-width: 1020px){
    .sec5-title{
        text-align: center;
        font-size: 30px;
    }
    .sec5-container1{
        border-bottom-right-radius: 20% ;
        border-bottom-left-radius: 20%;
        height: 400px;
    }
    .sec5-container-inner{
        display: flex;
        flex-direction: column;
        gap: 30px;
        width: 90%;
        margin-top: 5px;
    }
    .footer-sec5{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 20px 20px;
        border-bottom: 1px solid rgb(235, 235, 235);
        width: 90%;
    }
    .footer-container{
        margin: 10px 0px 20px;
        
    }
}
/* Section 6 */
.sec6-container{
    display: grid;
    grid-template-columns: 50px 277px 150px 150px 150px 150px;
    column-gap: 60px;
    margin: 40px 40px;
    padding: 40px 0px;
    border-top: 1px solid rgb(235, 235, 235);
    border-bottom: 1px solid rgb(235, 235, 235);
}

/*.sec6-container-res1,
.sec6-container-res2,
.sec6-container-res3,
.sec6-container-res4,
.sec6-container-res5,
.sec6-container-res6
{
    display: none;
}
*/ 
.sec6-container-res{
    display: none;
}
.sec6-img{
    height: 50px;
}

#first-title-sec6{
    margin-left: 127px;
}

.sec6-title{
    font-weight: bold;
    font-size: 13px;
}

.sec6-inner{
    font-size: 15px;
    color: rgb(105, 105, 105);
}

.sec6-inner-special{
    font-weight: bold;
    font-size: 13px;
    margin-top: 35px;
}

.sec6-inner:hover{
    color: rgb(18, 100, 163);
    cursor: pointer;
}

@media screen and (max-width: 1020px){
    .sec6-container{
        display: none;
    }
    .sec6-container-res{
        display: flex;
        margin: 10px 10px;
        width: 90%;
        gap: 80%;
        border-bottom: 1px solid rgb(235, 235, 235);
    }
    .sec6-inner-res{
        font-weight: bold;
        font-size: 14px;
        cursor: pointer;
    }
    .sec6-container-icon{
        margin-top: -13px;
        cursor: pointer;
    }
}